<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>

<script>
	$(document).ready(function() {
		$("#demo").hide();
		$(".form-group").hide();
		

	});

	var columnDefs = [ {
		headerName : "First Name",
		field : "fName"
	}, {
		headerName : "Last Name",
		field : "lName"
	}, {
		headerName : "Age",
		field : "age"
	}, {
		headerName : "Gender",
		field : "gender"
	}, {
		headerName : "Maritial Status",
		field : "maritialStatus"
	},

	];

	var gridOptions = {
		columnDefs : columnDefs

	};

	document.addEventListener('DOMContentLoaded', function() {
		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);
	});

	
	
	
	function add() {
		$("#add").hide();
		$("#myGrid").hide();
		$("#demo").show();
		$(".form-group").show();

	}
	function Cancel() {
		$("#add").show();
		$("#myGrid").show();

	}
	function submit() {
		$("#add").show();
		$("#myGrid").show();
		$("#demo").hide();
		
	}
</script>

</head>


<body>
	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">

						<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label>fastName</label> <input type="text" id="fName"
									placeholder="fastName" class="form-control">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label>lastName</label> <input type="text" id="lName"
									placeholder="fastName" class="form-control">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label>Age</label> <input type="text" id="Age"
									placeholder="fastName" class="form-control">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label>Gender</label>
								<div class="select">
									<select id="gender">
									<option value="">select</option>
										<option value="">male</option>
										<option value="">female</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label>Maritial Status</label>
								<div class="select">
									<select id="maritialStatus">
									<option value="">select</option>
										<option value="">married</option>
										<option value="">unmarried</option>
									</select>
								</div>
							</div>
						</div>
						</div>
						
						<button id="save" onclick="submit()" class="form-group">submit</button>
						<br><br>
						<button id="add" onclick="add()">Add</button>

						<div id="myGrid" style="width: 100%; height: 500px;"
							class="ag-theme-alpine"></div>

						<button id="demo" onclick="Cancel()">Cancel</button>


					</div>
				</div>
			</div>
		</div>
	</div>
</body>


</html>