<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/master}">
<head>
<meta charset="ISO-8859-1">
<title>Student Registration</title>
<script type="text/javascript">


$(document).ready(function(){
var gridDiv = document.querySelector('#myGrid');
new agGrid.Grid(gridDiv, gridOptions);

$("#cancel").hide();
$("#save").hide();
$("#demo").hide();
$('#delete').attr("disabled", true);

agGrid.simpleHttpRequest({
url : "stud-regs"
}).then(function(data) {
gridOptions.api.setRowData(data);
});

});


const columnDefs=[
{ headerName: 'Name',field: "name"},
{ headerName: 'FatherName',field: "fatherName"},
{ headerName: 'MotherName',field: "motherName"},
{ headerName: 'Date-Of-Birth',field: "dob"},
{ headerName: 'Address',field: "address"},
{ headerName: 'Country',field: "country"},
{ headerName: 'State',field: "state"},
{ headerName: 'District',field: "district"},
{ headerName: 'Email',field: "email"},
{ headerName: 'Mobile',field: "mobile"},
{ headerName: 'Blood Group',field: "bloodgrp"},
{ headerName: 'Status',field: "status"}
];

const gridOptions = {
columnDefs: columnDefs
};

function add(){

$("#studId").val("");
$("#name").val("");
$("#fatherName").val("");
$("#motherName").val("");
$("#dob").val("");
$("#address").val("");
$("#country").val("");
$("#state").val("");
$("#district").val("");
$("#email").val("");
$("#mobile").val("");
$("#bloodgrp").val("");
$("#status").val("");

$("#add").hide();
$("#myGrid").hide();
$("#cancel").show();
$("#save").show();
$("#demo").show();
$("#delete").hide();
}

function cancel(){

$("#add").show();
$("#myGrid").show();
$("#cancel").hide();
$("#save").hide();
$("#demo").hide();
$("#delete").show();
}

function addDetails(){


var obj = {};
obj.studId = $("#studId").val();
obj.name = $("#name").val();
obj.fatherName = $("#fatherName").val();
obj.motherName =$("#motherName").val();
obj.dob = $("#dob").val();
obj.address = $("#address").val();
obj.country = $("#country").val();
obj.state = $("#state").val();
obj.district=$("#district").val();
obj.email=$("#email").val();
obj.mobile=$("#mobile").val();
obj.bloodgrp=$("#bloodgrp").val();
obj.status=$("#status").val();




$.ajax({
type : "POST",
url : "stud-regs-add",
contentType : "application/json",
data : JSON.stringify(obj),

success : function(response){
//console.log(response);
if(response.message == "Success"){
$("#add").show();
$("#myGrid").show();
$("#cancel").hide();
$("#save").hide();
$("#demo").hide();
$("#delete").show();
agGrid.simpleHttpRequest({
url : "stud-regs-through-ajax"
}).then(function(data) {
gridOptions.api.setRowData(data);
});
}
},
error : function(data){

console.log(data);
}
})
}



function getState(){


var empCountry = $("#country").val();

if (empCountry) {

$("#state").empty();
var option = $("<option></option>");
$(option).val(null);
$(option).html("Select");
$("#state").append(option);
$.ajax({
type : 'GET',
url : 'stud-regs-stateName-ajax?country='+ empCountry,
contentType : false,

success : function(response) {
if (response.message == "success") {
$("#state").empty();
console.log("In State")
var option = $("<option></option>");
$(option).val(null);
$(option).html("Select");
$("#state").append(option);
console.log(response.body)
for (var i = 0; i < response.body.length; i++) {
var option = $("<option></option>");
$(option).val(response.body[i].key);
$(option).html(response.body[i].name);
$("#state").append(option);
}
}
},
error : function(e) {
alert("error");
}
});
} else {
$("#state").empty();
var option = $("<option></option>");
$(option).val(null);
$(option).html("Select");
$("#state").append(option);
$("#state").empty();
var option = $("<option></option>");
$(option).val(null);
$(option).html("Select");
$("#state").append(option);
}
}

function getDistrict(){

var empState = $("#state").val();

if (empState) {

$("#district").empty();
var option = $("<option></option>");
$(option).val(null);
$(option).html("Select");
$("#district").append(option);
$.ajax({
type : 'GET',
url : 'stud-regs-district-ajax?state='+ empState,
contentType : false,

success : function(response) {
if (response.message == "success") {
$("#district").empty();
console.log("In State")
var option = $("<option></option>");
$(option).val(null);
$(option).html("Select");
$("#district").append(option);
console.log(response.body)
for (var i = 0; i < response.body.length; i++) {
var option = $("<option></option>");
$(option).val(response.body[i].key);
$(option).html(response.body[i].name);
$("#district").append(option);
}
}
},
error : function(e) {
alert("error");
}
});
} else {
$("#district").empty();
var option = $("<option></option>");
$(option).val(null);
$(option).html("Select");
$("#district").append(option);
$("#district").empty();
var option = $("<option></option>");
$(option).val(null);
$(option).html("Select");
$("#district").append(option);
}
}
</script>


<body>
<div layout:fragment="content" class="maincontent">

<div class="container-fluid">
<div class="row">
<div class="maincontentsec">
<div class="content_padding">

<div class="row">
<div class="col-md-5 buttonsec btn-hs"></div>
<div class="col-md-7 buttonsec btn-hs">
<button class="btn1" id="add" onclick="add()">Add</button>
<!-- <button class="btn3" id="delete" onclick="deleteEmp()">Delete</button> -->
<button class="btn4" id="cancel" onclick="cancel()">Cancel</button>
<button class="btn2" type="submit" id="save" form="form"
value="add" onclick="addDetails()">Save</button>
</div>
</div>

<div class="collapse" id="demo">
<input type="hidden" id="empId">
<div class="row">

<div class="col-md-6">
<div class="form-group">
<label><b>Name</b></label> <input type="text"
class="form-control" id="name">
</div>
</div>


<div class="col-md-6">
<div class="form-group">
<label><b>Father's Name</b></label> <input type="text"
class="form-control" id="fatherName">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label><b>Mother's Name</b></label> <input type="text"
class="form-control" id="motherName">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label><b>DOB</b></label> <input type="text" id="dob"
class="form-control"
th:attr="onkeyup=|formatDate('dob','${session.DATEFORMAT_JS}')|">
<i class="ti-calendar picker_calendar" id="toDateCalendar"></i>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label><b>Address</b></label>
<textarea class="form-control" id="address"></textarea>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label><b>Country</b></label>
<div class="select">
<select id="country" onchange=getState()>
<option value="">--Select--</option>
<option th:each="c,iter:${countrylist}" th:value="${c.key}"
th:text="${c.name}"></option>
</select>
</div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label><b>State</b></label>
<div class="select">
<select id="state" onchange=getDistrict()>
<option value="">--Select--</option>
<option th:each="c,iter:${state}" th:value="${c.key}"
th:text="${c.name}"></option>
</select>
</div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label><b>District</b></label>
<div class="select">
<select id="district">
<option value="">--Select--</option>
<option th:each="c,iter:${district}" th:value="${c.key}"
th:text="${c.name}"></option>
</select>
</div>
</div>
</div>

<div class="col-md-6">
<div class="form-group">
<label><b>Email</b></label> <input type="text"
class="form-control" id="email">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label><b>Mobile No</b></label> <input type="text"
class="form-control" id="mobile">
</div>
</div>

<div class="col-md-6">
<div class="form-group">
<label><b>Blood Group</b></label>
<div class="select">
<select id="bloodgrp">
<option value="">--Select--</option>
<option th:each="c,iter:${bloodgrplist}" th:value="${c.key}"
th:text="${c.name}"></option>
</select>
</div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<!-- <label><b>Status</b></label><select id="status">
<option value="">--Select--</option>
<option value='1'>Active</option>
<option value='0'>Inactive</option>
</select><br> -->

<div class="row">

<label><b>Status</b></label>
</div>
<input type="checkbox" id="status" value="1">
<label for="1">Active</label><br>
</div>
</div>
</div>
</div>

<div id="myGrid" style="width: 100%; height: 500px;"
class="ag-theme-alpine"></div>

</div>
</div>
</div>
</div>
</div>
</body>
</head>
</html>